<footer class="text-center">
    <div class="text-center fixed-bottom p-3" style="background-color: #282828; color: #fbf1c7">
        © 3022 Proudly made in Italy:
        <a  href="index.ejs">Kali Babà</a>
    </div>
</footer>