<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kali Babà</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include('./navbar.ejs') %>

    <div class="container-fluid">
      <div class="row">
        <h1>Kebab</h1>
        <p class="text-muted">
          Discover our wonderful selection of products.
        </p>
      </div>
      <div class="row center">
        <div class="card" style="width: 18rem">
          
          <div class="card-body">
            <img src="img/panino-kebab.jpg" class="card-img-top" alt="..." style="border-radius: 50%; max-width: 80%; margin: 20px"/>
            <h5 class="card-title">Kebab Bun 0.0003 BTC</h5>
            <p class="card-text">
                veal and turkey, chicken, salad tomato, onion, sauces
            </p>
            <a href="#" class="btn btn-primary btn-menu">Add to cart</a>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          
          <div class="card-body">
            <img src="img/piadina-kebab.png" class="card-img-top" alt="..." style="border-radius: 50%; max-width: 80%; margin: 20px"/>
            <h5 class="card-title">Kebab Flatbread 0.0004 BTC</h5>
            <p class="card-text">
                veal and turkey, chicken, salad tomato, onion, sauces
            </p>
            <a href="#" class="btn btn-primary btn-menu">Add to cart</a>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          
          <div class="card-body">
            <img src="img/panino-falafel.jpg" class="card-img-top" alt="..." style="border-radius: 50%; max-width: 80%; margin: 20px"/>
            <h5 class="card-title">Falafel Bun 0.0005 BTC</h5>
            <p class="card-text">
                chickpea and ground vegetable meatballs, salad, tomato, onion, sauces
            </p>
            <a href="#" class="btn btn-primary btn-menu">Add to cart</a>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          
          <div class="card-body">
            <img src="img/piadina-felafel.jpg" class="card-img-top" alt="..." style="border-radius: 50%; max-width: 80%; margin: 20px"/>
            <h5 class="card-title">Falafel Flatbread 0.0006 BTC</h5>
            <p class="card-text">
                chickpea and ground vegetable meatballs, salad, tomato, onion, sauces
            </p>
            <a href="#" class="btn btn-primary btn-menu">Add to cart</a>
          </div>
        </div>
      </div>
    </div>

    <%- include('./footer.ejs'); %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
