<nav class="navbar navbar-expand-lg bg-dark" style="background-color: #282828;">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: #cc241d; font-family: Mozaik;" href="/">Kali Baba'</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" style="color: #fbf1c7;" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #fbf1c7;" href="/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #fbf1c7;" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #fbf1c7;" href="/about">About us</a>
          </li>
         

            <li class="nav-item">
                <a class="nav-link" style="color: #fbf1c7;" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: #fbf1c7;" href="/register">Register</a>
            </li>
          
          
          
        </ul>
      </div>
    </div>
  </nav>