@font-face {
  font-family: "Mozaik";
  src: url(fonts/Mozaik.otf);
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/RobotoMono-Regular.ttf);
}

body {
  font-family: Roboto;
  background-color: #fafafa;
}

h1 {
  font-family: Mozaik;
  font-size: calc(2em + 8vmin);
  text-align: center;
  margin: 20px;
  color: red;
}

h3 {
  text-align: center;
  font-size: calc(1em + 2vmin);
}

h5 {
  text-align: center;
}

p {
  text-align: center;
}

footer {
  margin-top: 40px;
}

.table {
  text-align: center;
  color: #fbf1c7;
}

.margin-div {
  margin-top: 25px;
  margin-bottom: 25px;
}

.card {
  margin: 25px;
  border-radius: 20px;
}

.register-form {
  margin-top: 100px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

.black-div {
  background-color: #282828;
  color: #fbf1c7;
}

.form-control::placeholder{
  color: red;
  font-size: 1.5em;
}
