@font-face {
  font-family: "Mozaik";
  src: url(fonts/Mozaik.otf);
}

@font-face {
  font-family: "Roboto";
  src: url(fonts/RobotoMono-Regular.ttf);
}

body {
  font-family: Roboto;
  background-color: #fafafa;
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: Mozaik;
  font-size: calc(2em + 8vmin);
  text-align: center;
  margin: 20px;
  color: red;
}

a {
  color: #cc241d;
}

h3 {
  text-align: center;
  font-size: calc(1em + 2vmin);
}

h5 {
  text-align: center;
}

p {
  text-align: center;
}

footer {
  margin-top: 40px;
}

.table {
  text-align: center;
  color: #fbf1c7;
}

.margin-div {
  margin-top: 25px;
  margin-bottom: 25px;
}

.card {
  margin: 25px;
  border-radius: 20px;
  background-color: #282828;
  color: #fbf1c7;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
}

.register-form {
  margin-top: 100px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.black-div {
  background-color: #282828;
  color: #fbf1c7;
}

.form-control::placeholder {
  color: red;
  font-size: 1.5em;
}

.card-form {
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none !important;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.5);
  background-color: #282828;
  color: #fbf1c7;
  border-radius: 25px;
}
.blue-text {
  color: #00bcd4;
}
.form-control-label {
  margin-bottom: 0;
}
input,
textarea,
button {
  padding: 8px 15px;
  border-radius: 5px !important;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px !important;
  font-weight: 300;
}
input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #00bcd4;
  outline-width: 0;
  font-weight: 400;
}
.btn-block {
  text-transform: uppercase;
  font-size: 15px !important;
  font-weight: 400;
  height: 43px;
  cursor: pointer;
}
.btn-block:hover {
  color: #fff !important;
}
button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

.img-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

.timeline-steps {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.timeline-steps .timeline-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem;
}

@media (min-width: 768px) {
  .timeline-steps .timeline-step:not(:last-child):after {
    content: "";
    display: block;
    border-top: 0.25rem dotted #cc241d;
    width: 3.46rem;
    position: absolute;
    left: 7.5rem;
    top: 0.3125rem;
  }
  .timeline-steps .timeline-step:not(:first-child):before {
    content: "";
    display: block;
    border-top: 0.25rem dotted #cc241d;
    width: 3.8125rem;
    position: absolute;
    right: 7.5rem;
    top: 0.3125rem;
  }
}

.timeline-steps .timeline-content {
  width: 10rem;
  text-align: center;
}

.timeline-steps .timeline-content .inner-circle {
  border-radius: 1.5rem;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #cc241d;
}

.timeline-steps .timeline-content .inner-circle:before {
  content: "";
  background-color: #cc241d;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  border-radius: 6.25rem;
  opacity: 0.5;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #fbf1c7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbf1c7;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #fbf1c7;
  text-decoration: none;
  color: #282828;
}

.btn-menu {
  background-color: #cc241d;
  color: #fbf1c7;
  border-radius: 25px;
  border: none;
}

.btn-menu:hover {
  background-color: #fbf1c7;
  color: #282828;
}

